.search
        width: 100%

.search__main
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-around


.myForm__search
    width: 20vw
    height: 2rem


.myForm
        display: flex
        justify-content: space-around
        align-items: center
        width: 22rem
        border:1px solid grey
        background-color: white

        & button
                border: none
                background: none
                margin: 0
                padding: 0
                width: 2rem
        input, button 
                flex-grow:2
                border: 0
                height: 2rem