

    


body
    background-color: #fbe555
    width: 80%
    margin: 0 auto
    margin-top: 7vh
    font-family: 'Roboto', sans-serif
    

* 
    box-sizing: border-box
    margin: 0rem

.header__nav 
    cursor: alias

button
    margin-left: 3vw
    height: 6vh

.hide
    display: none

.footer
    width: 100%
    height: 15vh

    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
a
    color: black

.header
    display: flex
    justify-content: space-between
    margin-bottom: 2vh
    max-width: 90%
    align-items: center
    
    &__nav
        vertical-align: center
    & h1
        max-width: 50%
        padding: 3%
        border-radius: 5rem
        font-size: 3rem
    &__logo
        max-width: 15vw
        min-width: 10rem



@import ./components/search
@import ./components/result-item
@import ./components/login
@import ./components/feedback
@import ./components/register
@import ./components/log-bar
