* {
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
}

button, input[type=submit], input[type=reset], textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fccfb23d;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  background-image: url("./images/cinema.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}
.login__title {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin: 1rem;
}
.login__form {
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  width: 100%;
}
.login__form__input {
  margin-top: 1rem;
  border: solid white 3px;
  height: 2rem;
  width: 100%;
  width: 95%;
  padding: 1%;
  padding-left: 0.5rem;
}
.login__form__button {
  font-size: 1.2rem;
  margin-top: 1rem;
  height: 2.5rem;
  width: 95%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  background-image: url("./images/cinema.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}
.register__title {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin: 1rem;
}
.register__form {
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  width: 100%;
}
.register__form__input {
  margin-top: 1rem;
  border: solid white 3px;
  height: 2rem;
  width: 100%;
  width: 95%;
  padding: 1%;
  padding-left: 0.5rem;
}
.register__form__button {
  font-size: 1.2rem;
  margin-top: 1rem;
  height: 2.5rem;
  width: 95%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: white;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  padding: 1vh 4vw;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #ffad87;
}
.header__image {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: solid 2px white;
}
.header__search {
  width: 55vw;
  border: none;
}
.header__search .search__bar {
  width: 100%;
  border: none;
  height: 2rem;
  padding: 1.1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  line-height: 1rem;
}
.header__messages {
  width: 10vw;
}
.header__messages .messages__buton i {
  font-size: 2rem;
  color: white;
  border: 0.5vw solid white;
  border-radius: 100%;
  padding: 1vw;
}

.footer {
  width: 100vw;
  height: 10vh;
  border-top: thin solid #ffad87;
  margin-top: 1rem;
  background-color: white;
}
.footer__list {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
}
.footer__list .button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0.6rem 0rem 0.6rem;
  background-color: #fffdf9;
  margin: 1rem 0;
}
.post__nav {
  display: flex;
  justify-content: space-around;
  margin-top: 0.2rem;
}
.post__main {
  padding: 0.3rem;
}
.post__interactions {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  border-top: 2px solid #ffad87;
  border-bottom: 2px solid #ffad87;
}
.post__header {
  display: flex;
  justify-content: space-around;
}
.post__header .header-info {
  display: flex;
  flex-direction: column;
  width: 70vw;
  /* &__date 
  *  font-size: .7rem */
}
.post__header .header-info .header-item {
  margin: 0.1rem;
}
.post__header .header-info .header__user-username {
  font-weight: bold;
  font-size: 1.1rem;
}
.post__header .post-image {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  border: solid 2px white;
}

.header__date {
  font-size: 0.7rem;
  color: grey;
}

.header__user-introduction {
  color: grey;
}

.comment {
  display: flex;
  padding: 0.6rem 0.6rem 0rem 0.6rem;
  justify-content: space-around;
}
.comment__image {
  width: 12vw;
  height: 12vw;
  border-radius: 100%;
}
.comment__text {
  background-color: #a7a5a434;
  width: 80vw;
  padding: 0.5rem;
  border-radius: 3vw;
}
.comment__text .text__user-name {
  font-size: 0.9rem;
  font-weight: bold;
}
.comment__text .text__user-info {
  font-size: 0.8rem;
  color: #524d4d;
}
.comment__text .text__date {
  font-size: 0.8rem;
  color: #524d4d;
}
.comment__text .text__comment {
  margin-top: 0.3rem;
}

.comment--mine .comment__text {
  background-color: #b4e49e9c;
}

.post-detail {
  background-color: white;
}

.new-comment {
  padding: 0.3rem 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: start;
  height: 10vh;
  margin-bottom: 1rem;
}
.new-comment__image {
  width: 12vw;
  height: 12vw;
  border-radius: 100%;
}
.new-comment__form {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #b4e49e9c;
  border-radius: 1rem;
  width: 80vw;
  padding: 0.2rem;
}
.new-comment__form .form__textarea {
  width: 70vw;
  padding: 0.8rem;
}
.new-comment__form .form__button {
  width: 20vw;
}

/*# sourceMappingURL=index.css.map */
