.footer
    height: 140px
    display: flex
    flex-direction: column
 
    &__copy-right
        display: flex
        justify-content: right
        margin-right: 70px
        font-size: 0.9rem
        opacity: 60%
        margin-top: -5px

    &__nav
        display: flex
        justify-content: space-around

        &__list
            display: flex
            margin-left: 25px
        
        &__logo
            display: flex
            justify-content: flex-end
            & .logo
                width: 65%
                object-fit: contain
                margin-right: 20px


        
.fa-twitter, .fa-facebook-square, .fa-instagram, .fa-youtube
    font-size: 23px
    opacity: 50%

.footer__top
    color: #F2F2F2