.main 
    display: grid
    grid-template-columns: 1vh
    grid-template-rows: 50px 50px 50px

    .on-sale
        grid-column: 1/2
        grid-row: 1/2
    .season
        grid-column: 1/2
        grid-row: 2/3

    .news-mix
        grid-column: 1/2
        grid-row: 3/4

