* 
    box-sizing: border-box
    list-style: none

img 
    

.header__nav
    display: grid
    grid-template-columns: repeat(6,1fr)
    grid-template-rows: repeat(2,1fr)

.header__nav__list .list__first
    

.header__nav__list .list__second

.header__nav__list .list__third
