body
    background-color: #fbe555
    width: 80%
    margin: 0 auto
    margin-top: 7vh
    font-family: 'Roboto', sans-serif
    

* 
    box-sizing: border-box
    margin: 0rem

.header__nav 
    cursor: alias

button
    margin-left: 3vw
    height: 6vh

.hide
    display: none

.footer
    width: 100%
    height: 15vh

    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
a
    color: black

@import ./components/header
@import ./components/feedback
@import ./components/register
@import ./components/login
@import ./components/log-bar
@import ./components/search
@import ./components/footer
@import ./components/result-item


